body .container {
  width: 390px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

body .container .navbar {
  height: 70px;
  background-color: #EBC6FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .navbar .logo {
  margin-left: 13.64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar .logo p {
  color: #3E3838;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Lobster', cursive;
}

body .container .navbar .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .navbar .icon i,
body .container .navbar .icon img {
  margin-right: 18px;
  font-weight: bold;
  color: #3E3838;
}

body .container #nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  height: 60px;
  background: #98B0A9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

body .container #nav-menu .home {
  width: 78px;
  height: 60px;
  background: #00F4CB;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 10px 10px 0px;
}

body .container #nav-menu div {
  width: 78px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container #nav-menu div a i {
  font-size: 25px;
  color: #333131;
}

body .container #nav-menu div a img {
  border-radius: 50%;
  border: 2px solid white;
}

body .container .story {
  margin-top: 5px;
  width: 390px;
  background: #DFDFDF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .story .story-post {
  min-width: 100px;
  height: 190px;
  margin: 7px;
  border-radius: 10px;
  background: #d4b3b3;
}

body .container .createPost {
  margin-top: 5px;
  width: 390px;
  height: 115px;
  background: rgba(217, 217, 217, 0.84);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container .createPost .icon-bar {
  width: 315px;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .createPost .icon-bar p {
  color: #3E3838;
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

body .container .createPost .icon-bar .icon i {
  font-size: 20px;
  margin-left: 5px;
}

body .container .createPost .icon-bar .icon .video {
  color: crimson;
}

body .container .createPost .icon-bar .icon .image {
  color: #426156;
}

body .container .createPost .icon-bar .icon .camera {
  color: #3E3838;
}

body .container .createPost .new-post {
  width: 390px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .createPost .new-post img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #4ecec3;
  margin-left: 27px;
}

body .container .createPost .new-post input {
  border: 0;
  outline: none;
  font-size: 15px;
  font-family: 'Lobster', cursive;
  height: 35px;
  width: 200px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

body .container .createPost .new-post button {
  border: 0;
  height: 35px;
  width: 45px;
  border-radius: 10px;
  background-color: darkturquoise;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 4px #98B0A9;
          box-shadow: 0 4px 4px #98B0A9;
}

body .container .contain .post {
  margin-top: 5px;
  width: 390px;
  background: rgba(217, 217, 217, 0.83);
  border-radius: 10px;
  padding-bottom: 10px;
}

body .container .contain .post .profile-user {
  margin-bottom: 5px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .contain .post .profile-user img {
  margin-top: 10px;
  margin-left: 27px;
  border-radius: 50%;
  border: 2px solid #fdfdfd;
}

body .container .contain .post .profile-user .name-user {
  margin-left: 15px;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .contain .post .profile-user .name-user .name {
  font-weight: 700;
  font-family: 'Lobster', cursive;
  cursor: pointer;
}

body .container .contain .post .profile-user .name-user .times {
  margin-top: 2px;
  color: #3E3838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .contain .post .profile-user .name-user .times i {
  margin-left: 5px;
}

body .container .contain .post .post-contain p {
  margin-left: 27px;
  margin-bottom: 5px;
}

body .container .contain .post .post-contain .post-block hr {
  margin: auto;
  margin-top: 5px;
  width: 90%;
  color: #3E3838;
}

body .container .contain .post .post-contain .post-block .img-post {
  width: 90%;
  height: 260px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .contain .post .post-contain .post-block .img-post .img-post1 {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .contain .post .post-contain .post-block .img-post .img-post1 img {
  width: 170px;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

body .container .contain .post .post-contain .post-block .img-post .img-post1 .img-post2 {
  width: 170px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .contain .post .post-contain .post-block .img-post .img-post1 .img-post2 img {
  width: 170px;
  height: 125px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

body .container .contain .post .post-contain .reaction {
  margin: auto;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .contain .post .post-contain .reaction > div {
  display: block;
}

body .container .contain .post .post-contain .reaction > div i {
  font-size: 25px;
  margin-top: 5px;
  font-weight: 10px;
}

body .container .contain .post .post-contain .reaction .like-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .contain .post .post-contain .reaction .like, body .container .contain .post .post-contain .reaction .comment, body .container .contain .post .post-contain .reaction .share {
  font-size: medium;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */